<?xml version="1.0"?>
<launch>
  <include file="$(find warebot_description)/launch/filter.launch"></include>

    
  <!--- Run gmapping -->
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">

    <param name="base_frame" value="chassis"/>
    <param name="odom_frame" value="odom" />
    <param name="map_frame" value="/map"/>
    <remap from="scan" to="scan_filtered"/>

    <param name="map_update_interval" value="5.0"/> <!--default: 5.0 -->

    <param name="maxUrange" value="5.5"/>
    <param name="maxRange" value="5.5"/>

    <param name="xmin" value="-20.0"/>
    <param name="xmax" value="20.0"/>
    <param name="ymin" value="-20.0"/>
    <param name="ymax" value="20.0"/>

    <param name="linearUpdate" value="0.2"/> <!--default: 0.2 -->
    <param name="angularUpdate" value="0.25"/> <!--default: 0.25 -->
    <param name="resampleThreshold" value="0.5"/> <!--default: 0.5 -->


    <param name="delta" value="0.025"/> <!--default: 0.05 -->
    <param name="throttle_scans" value="5"/> <!--default: 1 -->
     
    <param name="minimumScore" value="50"/> <!--default: 0.0 -->

    <param name="temporalUpdate" value="2.0"/> <!--default: -1.0 -->

    <param name="particles" value="100"/> <!--default: 30 -->
    
  </node>
</launch>