<?xml version="1.0"?>
<launch>

  <arg name="model" default="$(find warebot_description)/urdf/model.urdf"/>
  <arg name="rvizconfig" default="$(find warebot)/warebot_description/rviz/urdf.rviz" />

  <param name="robot_description" textfile="$(find warebot_description)/urdf/model.urdf"/>
  
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="False"/>
  </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find warebot_description)/rviz/urdf.rviz" required="true" />

</launch>