<?xml version="1.0" ?>
<robot name="warebot">
  <joint name="warebot__lidar_base" type="fixed">
    <parent link="warebot__chassis"/>
    <child link="warebot__lidar_generic"/>
    <origin rpy="0 0 0" xyz="0   0   0.03"/>
    <axis xyz="0 1 0"/>
    <limit effort="0" lower="0" upper="0" velocity="0"/>
  </joint>
  <joint name="warebot__wheel_left_hinge" type="fixed">
    <parent link="warebot__chassis"/>
    <child link="warebot__wheel_left"/>
    <origin rpy="0 0 0" xyz="-0.00899  0.27    -0.0308"/>
    <axis xyz="0 1 0"/>
    <limit effort="0" lower="0" upper="0" velocity="0"/>
  </joint>
  <joint name="warebot__wheel_right_hinge" type="fixed">
    <parent link="warebot__chassis"/>
    <child link="warebot__wheel_right"/>
    <origin rpy="0.e+00 0.e+00 1.e-05" xyz="-0.00899 -0.27    -0.0308"/>
    <axis xyz="0 1 0"/>
    <limit effort="0" lower="0" upper="0" velocity="0"/>
  </joint>
  <link name="warebot__chassis">
    <inertial>
      <mass value="60"/>
      <origin rpy="0 0 0" xyz="0  0  0.1"/>
      <inertia ixx="1.215" ixy="0.0" ixz="0.0" iyy="1.215" iyz="0.0" izz="2.075"/>
    </inertial>
    <collision name="warebot__chassis_collision">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://warebot_gazebo/models/warebot/meshes/WareBot_Chassis.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="warebot__caster_collision_back">
      <origin rpy="0 0 0" xyz="-0.24  0   -0.06"/>
      <geometry>
        <mesh filename="package://warebot_gazebo/models/warebot/meshes/WareBot_Caster.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision name="warebot__caster_collision_front">
      <origin rpy="0       0      -3.14158" xyz="0.24  0   -0.04"/>
      <geometry>
        <mesh filename="package://warebot_gazebo/models/warebot/meshes/WareBot_Caster.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <visual name="warebot__chassis_visual">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://warebot_gazebo/models/warebot/meshes/WareBot_Chassis.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="warebot__caster_visual_back">
      <origin rpy="0 0 0" xyz="-0.24  0   -0.06"/>
      <geometry>
        <mesh filename="package://warebot_gazebo/models/warebot/meshes/WareBot_Caster.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="warebot__caster_visual_front">
      <origin rpy="0       0      -3.14158" xyz="0.24  0   -0.04"/>
      <geometry>
        <mesh filename="package://warebot_gazebo/models/warebot/meshes/WareBot_Caster.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <link name="warebot__wheel_left">
    <inertial>
      <mass value="0"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <collision name="warebot__wheel_left_collision">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://warebot_gazebo/models/warebot/meshes/WareBot_Wheel.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <visual name="warebot__wheel_left_visual">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://warebot_gazebo/models/warebot/meshes/WareBot_Wheel.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <link name="warebot__wheel_right">
    <inertial>
      <mass value="0"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <collision name="warebot__wheel_right_collision">
      <origin rpy="0      0      3.14158" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://warebot_gazebo/models/warebot/meshes/WareBot_Wheel.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <visual name="warebot__wheel_right_visual">
      <origin rpy="0      0      3.14158" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://warebot_gazebo/models/warebot/meshes/WareBot_Wheel.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <link name="warebot__lidar_generic">
    <inertial>
      <mass value="0"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
</robot>
