<?xml version="1.0"?>
<launch>

  <param name="robot_description" textfile="$(find warebot_lidar)/urdf/model.urdf"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
  	<param name="use_gui" value="False"/>
  </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find warebot_lidar)/rviz/warebot.rviz" required="true" />
  
  <node pkg="laser_scan_matcher" type="laser_scan_matcher_node" name="laser_scan_matcher_node" output="screen">
    <param name="use_alpha_beta" value="true"/>
    <param name="max_iterations" value="10"/>
    <param name="fixed_frame" value = "odom"/>
    <param name="base_frame" value = "chassis"/>
    <param name="publish_TF" value = "true"/>
</node>


  <!--
  <node pkg="tf" type="static_transform_publisher" name="base_to_laser_broadcaster" args="0 0 0 0 0 0 chassis laser 100"/>

  <node pkg="tf" type="static_transform_publisher" name="odom_to_chasis_broadcaster" args="0 0 0 0 0 0 odom chassis 100"/>

  <node pkg="tf" type="static_transform_publisher" name="map_broadcaster" args="0 0 0 0 0 0 /map odom 100"/>
	-->

</launch>