<?xml version="1.0"?>

<model>
  <name>Compact Warehouse Robot</name>
  <version>0.2</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
    <name>Crack Squad</name>
  </author>

  <description>
    A compact warehouse robot for a 4th year project.



    Credits:
    
    Bryan Ho
    Hasif Uzir
    Iman Yahya
    Zheng Hung
  </description>
</model>
